*{
  margin: 0;
  padding: 0;
}
/* VISTA VENTANA MOBILE */
body{
  background-image: url(../assets/img/medium-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* VISTA VENTANA MEDIUM SIZE */
@media (min-width: 992px) {
body{
  background-image: url(../assets/img/small-img.jpg);
}
.img-kitten{
  content: url(../assets/img/kitten-medium.png);
}

/* VISTA VENTANA lARGE SIZE */
@media (min-width: 1200px) {
  body{
    background-image: url(../assets/img/large-img.jpg);
  }
  .img-kitten{
    content: url(../assets/img/kitten-large.png);
  }
}
